* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrolbar {
  display: none;
}

body {
  color: #fcfffc;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.inconsolata-variable {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  --s: 100px; /* control the size*/
  --c1: #00810050;
  --c2: #0f0f0f;

  --_g: #0000 90deg, var(--c1) 0;
  background: conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g)), var(--c2);
  background-size: var(--s) var(--s), calc(var(--s) / 5) calc(var(--s) / 5);
}
